<!doctype html>
<html ng-app="deployedApp">
    <head>
        <title>List of Deployed Reports</title>
		 	<script data-require="jquery@*" data-semver="2.1.3" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
			<script data-require="angular.js@*" data-semver="1.3.14" src="https://code.angularjs.org/1.3.14/angular.js"></script>
			<link data-require="bootstrap@*" data-semver="3.3.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
			    <script data-require="bootstrap@*" data-semver="3.3.1" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
				 <script data-require="angular-ui-bootstrap@*" data-semver="0.12.0" src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
			<script src="deploy.js"></script>
            <link rel="icon" type="shortcut icon" href="https://update.teams360.net/reports/public/img/favicon.ico" />
    </head>
	<style>
		body {

			background: linear-gradient(to right,#99BADD,#CCE0F5 ,#99BADD);
			width: 100%;
		}
	</style>
    
    <body>
        <div ng-controller="deploymentsCtrl" class="container" width="80%" style="align:center"> 

            <div align="center" padding-top="112px">
                <img src="img/trans_logo.png" style="float:center">
                <h2>TEAMS Report Deployment Status</h2>
            </div>



            <div style="margin-top:50px; align:center;">
                <div>
                    <input autofocus ng-model="query" width="100%" placeholder="Search" style="margin-bottom:20px">
                </div>
                <table class ="table table-striped table-hover" style="background-color:white; align:center">
                    <tbody>
                        <tr ng-repeat="report in reports | filter: query" >
                            <td>{{report.statusOf | uppercase}}</td>
                            <td>{{report.client}}</td>
                            <td style="align:right">{{report.environment | uppercase }}</td>
                            <td>{{report.reportName}}</td>
                            <td>{{report.time}}
                        </tr>
                    </tbody>
                </table>
            </div>
    </body>

</html>
