<!doctype html>
<html ng-app="reportApp">
	<head>
		<title>Deploy Reports</title>
		 	<script data-require="jquery@*" data-semver="2.1.3" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
			<script data-require="angular.js@*" data-semver="1.3.14" src="https://code.angularjs.org/1.3.14/angular.js"></script>
			<link data-require="bootstrap@*" data-semver="3.3.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
			    <script data-require="bootstrap@*" data-semver="3.3.1" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
				 <script data-require="angular-ui-bootstrap@*" data-semver="0.12.0" src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
			<script src="angular.js"></script>
            <link rel="icon" type="shortcut icon" href="https://update.teams360.net/operations/public/img/favicon.ico" />
	</head>
	<style>

		body {
			background: linear-gradient(to right,#99BADD,#CCE0F5 ,#99BADD);
			width: 100%;
		}
	</style>

	<body >
		<div ng-controller="clients" class="container" >
            <div align="middle" padding-top="112px">
                <img src="img/trans_logo.png" style="float:center">
                <h2>TEAMS Report Deployer</h2>
            </div>

			<div  align="middle" class="container-fluid" ng-show="loading" style="margin-top:60px;">
				<h3>Fetching Available Reports </h3>
				<img src="img/ajax-loader.gif"> </img>
			</div>	

			<div ng-show="grid">	
				<div style="margin-top:50px;">
					<div style="float:left; padding-right:25px;">	
						<h4>Report Type: </h4> <select  class="form-control" style="width:101px;"   ng-options="client for client in id" ng-model="reportClient" ng-change="update()"></select>
					</div>
					<div style="float:left; padding-right:25px;">	
						<h4>Report Name: </h4><select class="form-control" style="width:300px;" ng-options="r for r in base_name" ng-model="reportName" ng-change="update2()"></select>
					</div>
					<div style="float:left; padding-right:25px;">	
						<h4>Report Version: </h4><select class="form-control" style="width:175px;" ng-options="s for s in rev" ng-model="reportVersion" ng-change="update4()"></select>
					</div>
				</div>
				
				
				
				<div>
					</br>

					<div style="padding-top:30px;width=55%;">
						<div style="">
						</div>
					</div>

					</br>
					</br>
					
                        <label style="float:left;" ng-show="show_pd" class="btn btn-primary" ng-model="checkModel.left" ng-click="click_left()" btn-checkbox>Select All PD Environments</label>

                    </br> 
                    </br>
 
					<table class="table table-striped table-hover" style="background-color:white;width:55%;float:left;paddint-right=10px;">
						<tbody>
							<tr ng-repeat="(key,value) in environment_list">
								<td>
									<div style="padding:20px 40px 40px 20px;width:100%;">
										<div style="float:left;width:120px;font-size:large;"> 
											<label class="btn btn-medium btn-primary" style="width:110px" ng-click="show_key(key)">{{key}}</label>
										</div>

										<div style="float:left;padding-left:5px; padding-right:5px;white-space=nowrap;padding-bottom:10px;" ng-repeat="x in value">
                                            <label class="btn btn-small" max-width="100%;"  ng-class="set_color(key, x.type)" ng-model="x.type" ng-click="toggleActive(key, x.type); if_click(key, x.type)">{{x.type | uppercase}}</label>
										</div>
									</div>
								</td>
						</tbody>
					</table>
				</div>

				<div ng-show="show_list">
					<table  class="table table-striped table-hover" style="margin-left:13px;float:left;width:25%;background-color:white;" >
						<tbody>
                        <!-- <tr ng-repeat="rcl in report_client_list | orderBy:'rcl'" > -->
                        <tr ng-repeat="rcl in report_client_list">
								<td>
									<div style="text-align:center;font-size:large;cursor: pointer;" ng-click="remove($index)">
                                        {{rcl.client}} {{rcl.environment | uppercase}}
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:left;"></span>
                                    </div>

								</td>
							</tr>
						</tbody>
					</table>

				</div>	

                    <div ng-show="show_list" ng-controller="myTest" >
                        <script type="text/ng-template" id="deployModal.html">
                            <div class="modal-title" style="float:center">
                                <h3 classs="modal-title" style="float:center">Deployment Request Sent</h3>
                            </div> 
                            <div class="modal-body">
                                <h4>New Feature: you can check the status of your reports <a href="https://update.teams360.net/operations/deployed.html">HERE</a></h4>
                                <p>The reports requested should be available momentarily.</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" ng-click="ok()">OK</button>
                            </div>

                        </script>
                        <label ng-show="show_list" class="btn btn-large btn-danger" style="margin-left:15px;float:left;width:100px;"ng-click="click_test(); open_modal()" >Deploy </label>
                        </br/>
                        </br>
                        <label ng-show="show_list" class="btn btn-large btn-warning" style="margin-left:15px;float:left;width:100px;" ng-click="reset_list()">Clear List</label>

                        </br>
                        </br>

                    </div>
			</div>
	</body>
</html>

